body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
  font-weight: 100;
}

.title {
  background: #e3f4ff;
  padding: 8px;
}

.content {
  background: #e3f4ff;
  padding: 20px;
  margin-bottom: 16px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 20px
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 10px
}